Ignora o histórico do Git.
.git
.gitignore

Ignora os diretórios de build do Maven e Gradle.
A compilação será feita dentro do container (multi-stage build).
target/
build/

Ignora arquivos de log e variáveis de ambiente locais.
*.log
.env

Ignora pastas e arquivos de configuração de IDEs.
.idea/
.vscode/
*.iml

Ignora arquivos de metadados do Sistema Operacional.
.DS_Store
Thumbs.db